@using Coza_Ecommerce_Shop.ViewModels.Account
@model ProfilePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a asp-controller="Home" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @ViewData["Title"]
        </span>
    </div>
</div>

<div class="m-t-23 p-b-140">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item  mr-1">
                        <a class="nav-link  cl2 hov4" asp-controller="Account" asp-action="Profile"><i class="bx bx-user me-1"></i> Account</a>
                    </li>
                    <li class="nav-item  mr-1">
                        <a class="nav-link bg1 cl0 hov-btn3" href="javascript:void(0);"><i class='bx bx-lock'></i> Password</a>
                    </li>

                </ul>
                <div class="card">
                    <h5 class="card-header">Change Password</h5>
                    <form asp-controller="Account" asp-action="ChangePassword" id="formAccountSettings" method="POST">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger col-md-6 mb-3"></div>

                            <div class="mb-3 col-md-6">
                                <label asp-for="OldPassword" class="form-label"></label>
                                <input class="form-control" asp-for="OldPassword" />
                                <span class="text-danger" asp-validation-for="OldPassword"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="NewPassword" class="form-label"></label>
                                <input class="form-control" asp-for="NewPassword" />
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                                <input class="form-control" asp-for="ConfirmNewPassword" />
                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                            </div>


                            <div class="mt-2 col-md-6">
                                <button type="submit" class="btn cl0 bg10 bor5 hov-btn3 trans-04">Save changes</button>
                                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>