@model Coza_Ecommerce_Shop.Models.Entities.ProductCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="ProductCategories" asp-action="Index">Product Category</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<hr />
<div class="card mb-4">
    <div class="row">
        <div class="col-md-10">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Chỉnh sửa thông tin danh mục sản phẩm</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ParentCategoryId" class="form-label"></label>
                        <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.Categories">
                            <option>Chọn danh mục</option>
                        </select>
                        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3 d-flex align-items-center gap-4">
                        <label asp-for="IsFeatured" class="control-label col-3 col-md-1 col-sm-2 "></label>
                        <div class="form-check form-switch mb-0">
                            <input asp-for="IsFeatured" type="checkbox" class="form-check-input">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label asp-for="SeoTitle" class="control-label"></label>
                        <input asp-for="SeoTitle" class="form-control" />
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SeoDescription" class="control-label"></label>
                        <input asp-for="SeoDescription" class="form-control" />
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SeoKeywords" class="control-label"></label>
                        <input asp-for="SeoKeywords" class="form-control" />
                        <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                    </div>


                    <div class="mt-4 d-flex gap-2">
                        <a class="btn btn-secondary" asp-action="Index">Danh sách</a>
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


