@using Coza_Ecommerce_Shop.ViewModels.Account
@model ProfilePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="Profile"><i class="bx bx-user me-1"></i> Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0);"><i class='bx bx-lock'></i> Password</a>
            </li>

        </ul>
        <div class="card">
            <h5 class="card-header">Change Password</h5>
            <form asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" id="formAccountSettings" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="mb-3 col-md-6">
                        <label asp-for="OldPassword" class="form-label"></label>
                        <input class="form-control" asp-for="OldPassword" />
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input class="form-control" asp-for="NewPassword" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="ConfirmNewPassword" class="form-label"></label>
                        <input class="form-control" asp-for="ConfirmNewPassword" />
                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                    </div>


                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>

                </div>
            </form>

        </div>

    </div>
</div>