@{
    ViewData["Title"] = "Notyfication";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .icon-success {
        width: 80px;
        height: 80px;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center" style="max-width: 450px;">
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" alt="Success" class="icon-success mb-3">
                <h3 class="text-success fw-bold">Email đã được gửi!</h3>
                <p class="text-muted">Hệ thống đã gửi một email đặt lại mật khẩu đến hộp thư của bạn.<br>Vui lòng kiểm tra hộp thư đến hoặc thư mục spam.</p>
                <a asp-action="Login" asp-controller="Account" asp-area="Admin" class="btn btn-primary mt-3">
                    <i class='bx bxs-chevron-left'></i> Quay lại đăng nhập
                </a>
            </div>
        </div>
    </div>
</div>

