@model Coza_Ecommerce_Shop.ViewModels.Banner.BannerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Banner" asp-action="Index">Banner</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<hr />
<div class="card">

    <div class="row">
        <div class="col-md-12">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Tạo banner mới</h5>
            </div>
            <div class="card-body">
                <form asp-area="admin" asp-controller="banner" asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    

                    <div class="mb-3">
                        <label asp-for="Image" class="form-label"></label>
                        <input name="file" class="form-control" type="file" id="formValidationFile">
                        <img id="previewImage" src="" style="object-fit: cover; width: auto; height: auto;" class="img-thumbnail mt-3 d-none" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" id="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Link" class="form-label"></label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Type" class="form-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="d-flex gap-2 mb-3">
                        <a asp-action="Index" class="btn btn-danger">Danh sách</a>
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @{
        var obj = new
        {
            input = "formValidationFile",
            img = "previewImage"
        };
        <partial name="_PreviewImagecshtml" model="obj" />
    }
}


