@model Coza_Ecommerce_Shop.Models.Entities.Attributes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Attributes" asp-action="Index">Attributes</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>


<hr />
<div class="card">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Thông tin danh mục mới</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="AttributeName" class="control-label"></label>
                                <input asp-for="AttributeName" class="form-control" />
                                <span asp-validation-for="AttributeName" class="text-danger"></span>
                            </div>

                            <h5>
                                Giá trị thuộc tính
                            </h5>
                            <div id="attributeValuesContainer">
                                <div class="form-group">
                                    <input type="text" name="attributeValues[0].Value" class="form-control" placeholder="Nhập giá trị" />
                                </div>
                            </div>
                            <button type="button" id="addValueButton" class="btn btn-secondary mt-2">Thêm giá trị</button>


                            <div class="d-flex mt-5 gap-2">
                                <a class="btn btn-danger" asp-action="Index">Danh sách</a>
                                <input type="submit" class="btn btn-primary" value="Thêm mới" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            let valueIndex = 1; // Chỉ số cho các giá trị thuộc tính

            $('#addValueButton').on('click', function () {
                $('#attributeValuesContainer')
                    .append(`
                                    <div class="my-2">
                                        <input type="text" name="attributeValues[${valueIndex}].Value" class="form-control" placeholder="Nhập giá trị" />
                                    </div>
                                `);
                valueIndex++;
            });
        });
    </script>
}