@model Coza_Ecommerce_Shop.Models.Entities.Attributes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Attributes" asp-action="Index">Attributes</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>


<hr />
<div class="card mb-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Chỉnh sửa thông tin thuộc tính</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="AttributeName" class="control-label"></label>
                        <input asp-for="AttributeName" class="form-control" />
                        <span asp-validation-for="AttributeName" class="text-danger"></span>
                    </div>

                    <h6>
                        Giá trị thuộc tính
                    </h6>
                    <div id="attributeValuesContainer">
                        @{
                            int i = 0;


                            if (Model.AttributeValues != null)
                            {
                                @foreach (var att in Model.AttributeValues)
                                {
                                    <div class="form-group my-2">
                                        <div class="form-group my-2 d-flex align-items-center">
                                            <input type="hidden" name="attributeValues[@(i)].Id" value="@att.Id" />
                                            <input type="checkbox" name="attributeValues[@(i)].IsDeleted" value="true" title="Xoá" class="me-2" @(att.IsDeleted ? "checked" : "") /> <!-- Checkbox để đánh dấu xóa -->
                                            <input type="text" name="attributeValues[@(i)].Value" value="@att.Value" class="form-control iputatvl" placeholder="Nhập giá trị" />
                                        </div>
                                    </div>
                                    i++;
                                }
                            }

                        }

                    </div>
                    <button type="button" id="addValueButton" class="btn btn-secondary mt-2">Thêm giá trị</button>


                    <div class="d-flex mt-5 gap-2">
                        <a class="btn btn-danger" asp-action="Index">Danh sách</a>
                        <input type="submit" class="btn btn-primary" value="Cập nhật" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let valueIndex = $(".iputatvl").length;

            $('#addValueButton').on('click', function () {
                $('#attributeValuesContainer')
                    .append(`
                                   <div class="my-2">
                                       <div class="form-group my-2 d-flex align-items-center">
                                            <input type="hidden" name="attributeValues[${valueIndex}].Id" value="0" />
                                            <input type="checkbox" name="attributeValues[${valueIndex}].IsDeleted" value="true" title="Xoá" class="me-2" /> <!-- Checkbox để đánh dấu xóa -->
                                            <input type="text" name="attributeValues[${valueIndex}].Value" class="form-control" placeholder="Nhập giá trị" />
                                       </div>
                                   </div>
                            `);
                valueIndex++;
                lastId++;
            });
        });

    </script>
}


