@model IEnumerable<Coza_Ecommerce_Shop.Models.Entities.ProductCategory>
<ul>
	@foreach(var item in Model)
	{
		<li class="p-b-10">
			<a asp-controller="Product" asp-action="ListProduct" asp-route-slug="@item.Slug" class="stext-107 cl7 hov-cl1 trans-04">
				@item.Title
			</a>
		</li>
	}

</ul>