@using System.Globalization
@using Coza_Ecommerce_Shop.ViewModels
@model ProductsListViewModel
@{
    ViewData["Title"] = "List Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

	var ParamsFilter = Model.paramsFilter;
	var breadCrumbShow = Model.breadCrumbShow;
}

<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a asp-controller="Home" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			@breadCrumbShow
		</span>
	</div>
</div>

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
	<div class="container">
		@await Component.InvokeAsync("Product", new { paramsFilter = ParamsFilter })
	</div>
</div>