@{
    Layout = "_SubLayout_1";
    ViewData["Title"] = "Home Page";
}


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-30">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>
        @await Component.InvokeAsync("HomeProduct")
        <!-- Load more product -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <button data-page="1" id="btn-load-more" type="button" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </button>
        </div>
    </div>
</section>